html
{
    font-size: 70%;
    font-family: sans-serif;
}

*
{
    box-sizing: border-box;
}

body
{
    width: 100%;
    min-height: 100vh;
    background-color: #f2f3f5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.signup
{
    padding: 90px 75px;
    background-color: #fff;
    width: 100%;
    max-width: 600px;
    border-radius: 20px;
}

.signup-heading
{
    font-size: 40px;
    color: #373941;
    font-weight: bold;
    text-align: center;
    margin-bottom: 35px;
}

.signup-social
{
    padding: 10px;
    border-radius: 20px;
    display: block;
    width: 100%;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    border: 0;
    background-color: #4c6ff4;
    display: block;
    align-items: center;
    cursor: pointer;
    outline: none;
    box-shadow: 0 5px 20px 0 rgba(76, 111, 244, 0.7);

}

.signup-social-text
{
    display: block;
    margin: 15px auto;
}

.sigup-or
{
    text-align: center;
    font-size: 17px;
    color: #999;
    margin: 55px auto;
    position: relative;
}

.sigup-or span
{
    display: inline-block;
    padding: 10px 30px;
    background-color: #fff;
    position: relative;
    z-index: 2;
}

.sigup-or::after
{
    content: "";
    width: 100%;
    height: 1px;
    background-color: #999;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%)
}

.signup-label
{
    font-size: 15px;
    color: #373941;
    margin-bottom: 10px;
    display: inline-block;
    cursor: pointer;
}

.signup-input
{
    display: block;
    width: 100%;
    padding: 25px;
    border-radius: 20px;
    background-color: #f2f3f5;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-bottom: 30px;
}

.signup-submit
{
    padding: 25px;
    color: white;
    font-size: 15px;
    text-align: center;
    border: 0;
    outline: none;
    display: inline-block;
    width: 100%;
    border-radius: 20px;
    background-color: #82c91e;
    font-family: sans-serif ;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 0 5px 20px 0 rgba(130, 201, 30, 0.7);
    margin-top: 25px;
    margin-bottom: 10px;
}

.signup-already
{
    text-align: center;
    font-size: 14px;
    color: #999;
}

.signup-login-link
{
    color: #2979ff;
    text-decoration: none;
    font-weight: bold;
}